* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #fefefe;
  color: #1d1d1d;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;

  > header.main-header {
    padding: 1em 2em;
  }

  > main {
    flex: 1 0 0;
    padding: 0 2em;
  }

  > footer.main-footer {
    border-top: 1px solid #ababab;
    padding: 1em 2em;
  }
}

ul li {
  list-style-type: none;
  position: relative;

  &.bulletted::before {
    content:"\2219";    /* escaped unicode character */
    font-size:2.5em;    /* the default unicode bullet size is very small */
    line-height:0;        /* kills huge line height on resized bullet */
    position:absolute;  /* position bullet relative to list item */
    top:.28em;           /* vertical align bullet position relative to list item */
    left:-.4em;            /* position the bullet L- R relative to list item */
  }
}

ul, ol {
  padding: 0 0.9rem;
  list-style-position: inside;
}